
/*-----------Header-----------*/

.navbar-nar li
{
    display: inline;
}

#logo{
    width: 55px;
    height: 55px;
}

#cart{
    width: 30px;
    height: 33px;
}


.navli{
    margin-right: 100px;
}

.head
{
    background: linear-gradient(rgb(7,122,21), 10%, rgb(60, 190, 76));
}

/*-----------Body-----------*/

main
{
    background-color: rgb(250, 255, 250);
    padding: 50px;
}

table, tr
{
    border:3px solid black;
    height: auto;
    margin: 10px;
    padding: 10px;
}

td
{
    border: 3px solid black;
    height: 150px;
    padding: 10px;
    background-color: rgb(243, 255, 235);
}

.tableimg
{
    height: 150px;
}

/*-----------Lista de cartas-----------*/

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cardBackground
{
    background-color: rgb(243, 255, 235);
    border: var(--bs-card-border-width) transparent var(--bs-card-border-color);
    border-radius: 40%;
}

.cardImg
{
    padding: 10px;
}

div.contenedor {
    margin: 0 auto;
}
  
button
{
    background-color: rgb(148,234,141);
}

.fullWidth
{
    width: 100%;
}

.productList
{
    padding-right: 20px;
}

/*-----------Footer-----------*/

.icon
{
    height: 3%; 
    width: 3%;
}

footer
{
    bottom: 0; 
    width: 100%; 
    height: fit-content;
}

.footer_basic {
    padding: 2rem !important;
}

.footer_darker
{
    padding: .005rem !important;
}

.link
{
    text-decoration: none;
    color:inherit;
}